/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* COMMON or UTILITIES */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    
}
/* TOURNAMENT NAME SECTION  */

.section-one{
    background-color: #2D25A0; 
    overflow-x: hidden;
    background-size: 100%;   
    margin-bottom: 70px;
    margin-top: -8px;
    margin-left: -8px;
    
}
.first-part{
    display: flex;
    width: 1440px;
    height: 677px;
    padding-top: 135px;
    padding-right: 140.99px;
    padding-bottom: 86px;
    padding-left: 156px;
}
.text-part, .image-part{
    width: 40%;
}
.text-part{
    padding-top: 154px;
}
.text-part h1{
    color: white;
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 19px;   
}

.arrow{
    display: flex;
    font-size: 16px;
    width: 168px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
    justify-content: center;
    align-items: center;    
}
.arrow-align{
    margin-left: 8px;
}
.fa-arrow-right{
    color: white;
}
.image-part img{
    width: 556.01px;
    height: 438px;
    padding-top: 135px;
    padding-right: 144.99px;
    padding-bottom: 86px;
    padding-left: 102px;
}


/* PLAYERS STYLE  */
/* .players-info-section{
    padding-left: 180px;
    padding-right: 210px;
} */
.players{
    padding-left: 180px;
    padding-right: 210px;
}
.three-players-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    /* padding-bottom: 30px; */
}
.player{
    border-right: 1px solid white;
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 10px 10px 40px #6C6C6C;
}
/* .player{
    background-color: white;
    width: 330px;
    height: 474px;
    border:5px white;
    padding: 15px;
    border-image: none;
    box-shadow: 15px #6C6C6C;
} */
.player .pic img{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 16px;
}
.player-info{
    width: 300px;
    height: 154px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;    
}
.player-info h2{
    font-size: 28px;
    text-align: left;
    width: 300px;
    height: 40px;
    padding-bottom: 10px;
}
.player-info p{
    font-size: 16px;
    text-align: left;
    width: 300px;
    height: 104px;    
}

/* FOOTER SECTION */

.footer-section{
    width: 483.87px;
    height: 213px;
    padding-left: 475px;
    padding-top: 158px;
    padding-right: 481.13px;
    padding-bottom: 63px;
    /* justify-content: center;
    align-items: center; */
}
.football-logo{
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
.football-logo img{
    width: 483.87px;
    height: 110px;
    padding-bottom: 20px;    
}
.social-media{
    width: 170px;
    height: 32px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 137px;
}  
.social-icons{
    padding-right: 14px;
}
.social-icons img{
    width: 32px;
    height: 32px;
    
}
